/* NAVBAR */
.mi-navbar {
    background-color: #58575b; /* tu color */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container-navbar {
    width: 1300px;
    margin: auto;
}

.navbar-brand {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: bold;
    font-size: 35px;
}

.buscador {
    border-radius: 5px 0 0 5px; /* lado izquierdo redondeado */
    padding: 10px 15px;
    border: 1px solid #ccc;
}

.buscador:focus {
    border-color: #c2c2c2;
    box-shadow: 0 0 5px rgba(107, 107, 107, 0.4);
}

.buscador::placeholder {
    color: #f0b3f3;
    font-style: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.boton-buscar {
    background-color: #000000;   /* fondo */
    border: 2px solid #000000;   /* borde */
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0; /* lado derecho redondeado */
    margin-left: -1px; /* elimina la línea entre ambos */
    font-weight: bold;
    transition: 0.3s;
}

.icono-lupa {
    width: 25px;
    height: 25px;
}

.boton-buscar:hover {
    background-color: #000000;   /* color al pasar mouse */
    border-color: #010101;
    /*transform: scale(1.05);*/
}

.boton-buscar:focus,
.boton-buscar:active {
  background-color: #363636;
  box-shadow: #464646;
  outline: #525252;
  border-color: #000000; /* o el color que quieras */
}

/* Boton Hamburguesa */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: 0 0 5px rgba(107, 107, 107, 0.4);
}

.nav-link {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 17px;
    display: flex;
    align-items: center;
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: rgb(181, 57, 230);
}

.dropdown-menu {
    background-color: #ffffff;
    border-color: #c2c2c2;
    border-radius: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dropdown-item {
    color: rgb(0, 0, 0);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: #ffffff;
  color: rgb(181, 57, 230);
}

.icono-user, .icono-carrito, .icono-lupa {
  width: 27px;
  height: 27px;
  object-fit: contain;
  margin-right: 8px; /* separa del texto */
}





/* MAIN */


/* --- CONFIGURACIÓN DEL CARRUSEL --- */
.carousel-item {
    height: 550px; /* Altura controlada */
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ajuste de imagen sin deformar */
}

.titulo-carrusel {
    font-weight: bold;
    text-uppercase: uppercase;
    letter-spacing: 4px;
    font-size: 2.8rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.subtitulo-carrusel {
    font-size: 1.3rem;
}

/* Estilo base para los textos del carrusel */
.carousel-caption {
    background-color: rgba(45, 5, 75, 0.5); /* Fondo para que se lea bien */
    border-radius: 10px;
    padding: 15px;
    bottom: 10%; /* Ajustamos la posición para que no tape todo */
}

.titulo-carrusel {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitulo-carrusel {
    font-size: 1.2rem;
}

/* Ajustes específicos para celulares (Pantallas chicas) */
@media (max-width: 576px) {
    .carousel-caption {
        padding: 10px;
        bottom: 5%;
    }

    .titulo-carrusel {
        font-size: 1.2rem; /* Achicamos el título para que entre */
        letter-spacing: 1px;
    }

    .subtitulo-carrusel {
        font-size: 0.9rem; /* Achicamos el párrafo */
        margin-bottom: 0;
    }
}

/* --- SECCIÓN BIENVENIDA --- */
.seccion-bienvenida {
    padding: 80px 0;
}

.subtitulo-marca {
    text-transform: uppercase;
    font-weight: bold;
    color: #6a0dad;
    letter-spacing: 3px;
}

.titulo-principal {
    color: #2d054b;
    font-weight: bold;
    margin-bottom: 20px;
}

.texto-descripcion {
    color: #6c757d;
    font-size: 1.1rem;
}

/* --- SECCIÓN TITULOS Y SEPARADORES --- */
.titulo-seccion {
    color: #2d054b;
    font-weight: bold;
}

.separador-marca {
    width: 100px;
    margin: 0 auto;
    border: 2px solid #6a0dad;
    opacity: 1;
}

/* --- FOOTER / FRASE FINAL ---
.footer-frase {
    padding: 60px 0;
    margin-top: 40px;
}
 */

.icono-quote {
    font-size: 4rem;
    color: #e2d1f0;
}

.frase-inspiracional {
    color: #2d054b;
    font-style: italic;
    font-weight: 300;
}

.firma-equipo {
    text-transform: uppercase;
    font-weight: bold;
    color: #6a0dad;
    letter-spacing: 3px;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    .carousel-item { height: 350px; }
    .titulo-carrusel { font-size: 1.8rem; }
    .img-producto { height: 260px; }
}

main {
    min-height: 60vh;
}

@media (max-width: 768px) {
    main {
        min-height: auto;
    }
}

.titulo-principal {
    font-family: Georgia, Georgia, serif;
    color: rgb(109, 63, 107);
    font-size: 42px;
}

.titulo {
    font-family: Georgia, Georgia, serif;
    color: rgb(109, 63, 107);
}

.texto { 
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: rgb(167, 78, 208);
}

.texto-2 {
    color: rgb(191, 89, 231);
    font-style: Arial, Helvetica, sans-serif;
}

.texto-2-n {
    color: rgb(109, 63, 107);
    font-style: Arial, Helvetica, sans-serif;
}

.precio {
    color: rgb(191, 89, 231);
    font-style: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.precio-2 {
    color: rgb(191, 89, 231);
    font-style: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

/* Comercializacion */
.caja {
    background-color: rgb(167, 78, 208);
    /*border: 2px solid #2d054b;*/
}

.caja h1 {
    font-family: Georgia, Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
}

.caja p { 
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.circulo {
    width: 80px; 
    height: 80px; 
    background-color: #000000;
    color: #ffffff;
}

.card-degradado {
  background: linear-gradient(90deg, #c583e1 0%, #8860b6 100%);
  overflow: hidden;
  border-radius: 1rem;
}

.col-contenido {
  padding: 2rem 3rem !important; /* Ajusta este primer valor (2rem) para achicar más la altura */
}

.titulo-asesoria {
  font-size: 2.2rem;
  line-height: 1.1;
}

.texto-asesoria {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

.btn-whatsapp {
  color: #8e54b3 !important;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.icono-fondo {
  font-size: 12rem;
  opacity: 0.15;
  line-height: 1;
  display: block;
  transform: translateY(10%); /* Lo baja un poco para que no empuje el techo */
}

.accordion-button:not(.collapsed) {
    background-color: #fff; /* o el color que quieras */
    color: inherit;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
}

.accordion-button {
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Efecto al hacer click (abierto) */
.accordion-button:not(.collapsed) {
    color: rgb(191, 89, 231);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* Opcional: efecto hover */
.accordion-button:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* Contacto */
.form-label {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: rgb(181, 57, 230);
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control::placeholder {
    color: #f0b3f3;
    font-style: Arial, Helvetica, sans-serif;
    opacity: 1; /* importante para algunos navegadores */
}

.form-control:focus {
    border-color: #c2c2c2;
    box-shadow: 0 0 5px rgba(107, 107, 107, 0.4);
}

.boton-enviar,
.boton-registrar {
    background-color: #5f2660;   /* fondo */
    border: none;
    color: white;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.boton-enviar:hover,
.boton-registrar:hover {
    background-color: #9d4a9f;   /* fondo */
    border: none;
    transform: scale(1.05); 
}

.boton-ver,
.boton-carrito {
    background-color: #5f2660;   /* fondo */
    border: none;
    color: white;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    display: inline-block;    /* Esto hace que el botón actúe como un bloque sólido */
    text-align: center;       /* Centra el texto por si acaso */
    white-space: nowrap;      /* Evita que el texto se parta en dos líneas */
    box-sizing: border-box;
    
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
}

.boton-ver:hover, 
.boton-carrito:hover {
    background-color: #9d4a9f;   /* fondo */
    border: none;
    transform: scale(1.05); 
}

/* Catalago */
.img-producto {
    height: 200px;       /* tamaño fijo */
    object-fit: cover;   /* recorta sin deformar */
    width: 100%;
}

@media (max-width: 576px) {
    .card {
        max-width: 90%;
        margin: auto;
    }
}

.img-principal-producto {
    height: 600px;        /* ajustá según tu diseño */
    object-fit: cover;    /* recorta elegante sin deformar */
    border-radius: 12px;
}

.img-producto-2 {
    height: 600px;      
    object-fit: cover;
    border-radius: none;
}

.thumb-img {
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
    border-radius: 6px;
}

.thumb-img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/* Nueva Cuenta */
.form-check-input {
  border: 2px solid #000;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  transition: all 0.2s ease;
}

.form-check-input:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  cursor: pointer;
}

.form-check-input:focus {
  border-color: #000;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.form-check-input:checked {
  background-color: #000;
  border-color: #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.text-decoration-none {
    color: rgb(181, 57, 230);
}


/* Carrito */
.mensaje-carrito {
    color: rgb(109, 63, 107);
    font-style: Arial, Helvetica, sans-serif;
    font-size: 18px;
}









/* FOOTER */
.footer {
    background-color: #7f8187;
    color: white;
    padding: 15px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* importante para mobile */
    max-width: 1300px;
    margin: auto;
}

.footer-col {
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .footer-col {
        width: 45%;
        margin-bottom: 0;
    }
}

.footer-col h6 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.footer-col p {
    color: #e4e4e4;
}

.copy {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    color: #ffffff;
}

.social-media-icon {
    width: 32px;
    height: 32px;
}

.medios-icon {
    width: 45px;
    margin: 5px;
}

.footer-col img {
    max-width: 100%;
    height: auto;
}

.underline a{
    display: inline;
    color: #ffffff;
    text-decoration: underline;
    margin: 5px 0;
    transition: 0.3s;
}

.underline a:hover {
    color: rgb(170, 54, 202);
}
